@model IEnumerable<Hotel.HotelData>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HotelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ratings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Facilities)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceRangeUpper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceRangeLower)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomAvailable)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HotelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ratings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Facilities)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceRangeUpper)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceRangeLower)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomAvailable)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HotelID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HotelID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HotelID })
        </td>
    </tr>
}

</table>
