@model Hotel.General

@{
    ViewBag.Title = "SignUp";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/assets/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/utillogin.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/mainlogin.css">
    <!--===============================================================================================-->
</head>
<body>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="limiter">
            <div class="container-login100" style="background-image: url('http://localhost:50617/assets/images/p3.jpg');">
                <div class="wrap-login100">
                    <form class="login100-form validate-form">
                        <span class="login100-form-logo">
                            <i class="zmdi zmdi-landscape"></i>
                        </span>

                        <span class="login100-form-title p-b-34 p-t-27">
                            Sign UP
                        </span>




                        <div class="form-group">
                            <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "input100" })


                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input100" } })

                                <span class="focus-input100"></span>
                                <span class="focus-input100" data-placeholder="&#xf003;"></span>

                                @Html.ValidationMessageFor(model => model.Email)
                            </div>

                        </div>
                        <span class="focus-input100"></span>
                        <span class="focus-input100" data-placeholder="&#xf003;"></span>

                        <div class="form-group">
                            <div class="wrap-input100 validate-input" data-validate="Enter username">


                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "input100" })


                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input100" } })


                                <span class="focus-input100" data-placeholder="&#xf207;"></span>
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="wrap-input100 validate-input" data-validate="Enter password">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "input100" })


                                @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "input100" }, style = "background-color: #99b9ff; color: white" })
                                <span class="focus-input100" data-placeholder="&#xf191;"></span>
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>

                        </div>


                        <div class="form-group">
                            <div class="wrap-input100 validate-input" data-validate="Enter password">
                                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "input100" })


                                @Html.PasswordFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "input100" }, style = "background-color: #99b9ff; color: white" })
                                <span class="focus-input100" data-placeholder="&#xf191;"></span>
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="wrap-input100 validate-input" data-validate="Enter password">
                                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "input100" })


                                @Html.DropDownListFor(model => model.Type, new SelectList(Enum.GetValues(typeof(listType))), htmlAttributes: new { @class = "input100", style = "background-color: #99b9ff" })

                                <span class="focus-input100" data-placeholder="&#xf191;"></span>
                                @Html.ValidationMessageFor(model => model.Type)
                            </div>
                        </div>







                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">
                                SignUP
                            </button>
                        </div>

                        <div class="text-center p-t-90">
                            <a class="txt1" href="~/Home/Login">
                                Already have an Account?
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    }



    <!--===============================================================================================-->
    <script src="~/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/vendor/bootstrap/js/popper.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/assets/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/js/mainlogin.js"></script>


</body>
</html>